# R projects
.Rproj.user
.Rhistory
.RData
.Ruserdata

# usernames and passwords for db connections
database.csv

# confidential fishery dependent data
*confidential*

# old assessment archive
archive

# folders
Outside_Model_Analytics/
Output/2021/RFX/ADMB_output/
Output/2021/RFX/ADMB_out_files/
Documents/


# large files
*RACE_CATCH*

# other file types we don't want to track
*.xlsx
*.xlsm
*.docx
*.pptx
*.Rdata

# Windows thumbnail cache files
Thumbs.db